.signup-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

  h1 {
    font-size: 3.2em;
    text-align: center;
    font-weight: 700;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .icon {
    font-size: 1.3em;
    margin-right: 10px;
    bottom: -5px;
  }